*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Open Sans", serif;
}

main{
    background-image: url(img/bg.png);
}
/* header navication style */
.parent{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1140px;
    align-items: center;
}
.menu{
    max-width: 50px;
    max-height: 50px;
    visibility: hidden;
}
.child-1{
    display: flex;
    gap: 30px;
    align-items: center;
}
.child-2{
    display: flex;
    list-style: none;
    gap: 65px;
}
.parent-1{
    display: flex;
    align-items: center;
    gap: 150px;
}
.btn{
    background-color: orange;
    color: white;
    padding: 10px 60.5px;
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
}
.link-1{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: orange;
}
.link-2{
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: skyblue;
}
.link-3{
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: greenyellow;
}
.link-4{
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: rgb(104, 104, 219);
}
.child-1>h3{
    font-weight: bold;
    font-size: 2rem;
}
.child-1>img{
    width: 62px;
    height: 62px; 
}
/* section area */
.section-1{
    font-weight: bold;
    font-size: 2.88rem;
    margin: 0;
}
.parent-2{
    display: flex;
    align-items: center;
    max-width: 1140px;
    gap: 50px;
    margin: 0px auto;
}
.block{
    display: block;
}
.img-1{
    width: 100%;
}
.p{
    font-weight: 400;
    font-size: 1.25rem;
    margin: 24px 0;
}

/* shared style */
.color-1{
    color: orange;
}
.color-2{
    color: lawngreen;
}
.btn-1{
    color: white;
    background-color: black;
    border: none;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 12px;
}
.share{
    font-weight: 300;
    font-size: 0.93rem;
    color: #808080;
    text-align: center;
    padding: 30px 0;
}
.share-1{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.93rem;
    color: orange;
}
.share-2{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.93rem;
    color: rgb(49, 70, 160);
}
.share-3{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.93rem;
    color: hwb(140 51% 25%);
}
/* main style */
.main-parent{
    display: flex;
    max-width: 1140px;
    margin: 80px auto;
    align-items: center;
    gap: 28px;
}
.main-h3{
    text-align: center;
    margin-top: 60px;
    font-size: 3rem;
    font-weight: bold;
}
.main-1{
    background-color: #FFFFFF;
    border-radius: 18.86px;
    justify-items: center;
    padding: 30px;
    box-shadow: inset 0px +10px 50px rgb(164, 240, 164);
}
.main-2{
    background-color: #FFFFFF;
    border-radius: 18.86px;
    justify-items: center;
    padding: 30px;
    box-shadow: inset 0px +10px 50px rgb(243, 111, 111);
}
.main-3{
    background-color: #FFFFFF;
    border-radius: 18.86px;
    justify-items: center;
    padding: 30px;
    box-shadow: inset 0px -10px 50px rgb(231, 187, 105);
}
.h3-1{
    font-size: 1.50rem;
    font-weight: bold;
    padding-top: 20px;
}
.btn-2{
    background-color: orange;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
}
/* footer style */
.section-4{
    margin: 20px auto;
    max-width: 1140px;
}
.section-2{
    display: flex;
    gap: 20px;
}
.section-3{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 100px 0;
}
.footer{
    max-width: 540px;
    background-color: #FFFFFF;
    margin: 100px 0;
    border-radius: 20px;
}
.border{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
footer{
    background-image: url(img/bg.png);
    box-shadow: inset 0px -500px 300px rgb(250, 222, 169);
}
.padding{
    padding: 50px;
}
.footer-1{
    font-weight: bold;
    font-size: 1.50rem;
}
.share-5{
    font-weight: 300;
    font-size: 0.93rem;
    color: #808080;
    padding-top: 20px;
}
.one{
    background-color: #FFFFFF;
    border-radius: 16px;
}
.last-p{
    font-weight: bold;
    font-size: 0.95rem;
    padding: 30px;
}
.three{
text-align: center;
padding-bottom: 30px;
}
/* footer */
.bg-1{
background-color: #01ACFD;
}
.bg-2{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    max-height: 519px;
    justify-content: space-around;
    padding: 100px;
    
}
.bg-3{
    display: flex;
    align-items: center;
}
.bg-5{
    max-width: 319px;
}
.bg-4{
    width: 82px;
    height: 81px;
}
.bg-6{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2.80rem;
}
.bg-7{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: 20px;
}
.ul>li{
    list-style: none;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.25rem;
}
.bg-8{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.50rem;
    padding-bottom: 20px;
}
/* responsiv */
@media screen and (max-width: 476px) {
    /* header responsiv */
    .parent-1, .child-1>h3{
        display: none;
    }
    .child-1{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid rgb(247, 192, 90);
        width: 100%;
        padding-bottom: 10px;
    }
    .parent-2{
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }
    .parent-3{
        order: 2;
    }
    .menu{
        visibility: visible;
        max-width: 35px;
        max-height: 40px;
        margin-right: 10px;
    }
    .two{
        max-width: 40px;
        max-height: 45px;
    }
    /* main responsiv */
    .main-parent{
        flex-direction: column;
        margin: 10px;
    }
    /* footer */
    .footer{
        display: none;
    }
    .section-3{
        margin: 70px 10px;
    }
    .bg-2{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 50px;
    }
}